
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
        }

        canvas {
            width: 100%;
            height: 100%
        }
    </style>
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./style_2.css">
    <title>Document</title>
</head>

<body>
    <form id='form' action="../models">

        <fieldset>
            <legend>Создание модели</legend>
            <h1>name:</h1>
            <label><input type="text" name="name" value="<%= name %>" id="p1" readonly></label>

            <p>name_Model:</p>
            <label><input type="text" name="name_Model" value="<%= name_Model %>" id="p2" readonly></label>

            <p>type:</p>
            <label><input type="text" name="typ" value="<%= type %>" id="p3" readonly></label>

            <P>value, vertex:</P>
            <label><input type="text" name="vertex" value="<%= vertex %>" id="p4" readonly></label>

            <P>value, color:</P>
            <label><input type="color" name="color" value="<%= collor %>" id="p5" readonly></label>

            <p>description:</p>
            <label><input type="text" name="description" value="<%= description %>" id="p6" readonly></label>
            
            <p class="p11">data_creat: <%= data_creat %></p>

            <p class="p11">data_update: <%= data_update %></p>

            <button class="butt" id="but">отобразить</button>

        </fieldset>
    </form>
    <script src="./three.js"></script>
    <script src="./quer_1.js"></script>
    <script src="./main_7.js"></script>
</body>

</html>